<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/predict.css"/>
    <style>
        .in{
            background: url("https://wallpapercave.com/wp/wp2043551.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body onload="myFunction()" class="in">
<div id="loading"></div>
<nav class="topnav">
    <a href="contact.html">Contact</a>
    <a href="about.html">About</a>
    <a href="#about">Home</a>
</nav>
</div>
<script>
    var preloader=document.getElementById('loading');
    function myFunction(){
        preloader.style.display= 'none';
    }
</script>
</body>
</html>